body {
    font-family: 'Montserrat', sans-serif;
}

section {
    display: flex;
}

.half-width img {
    width: 95%;
}

.half-width h1 {
    font-size: 50px;
    line-height: 0.5;
}

.half-width {
    width: 50%;
    margin-left: 5%;
    padding-left: 2%;
    font-weight: bold;
    font-size: 20px;
    color: #575757;
}

.first-texts {
    padding-top: 70px;
}


h1 span {
    color: orange;
}

.anchor-button {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 20px 35px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    font-size: medium;
    position: absolute;
    margin-top: 70px;
}


.middle {
    width: 100%;
}


.middle-items {
    position: absolute;
    top: 800px;
    right: 120px;
    font-size: 20px;
}

.mid-h1 {
    font-size: 40px;
    color: #575757;
}

.button2 {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 20px 35px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    font-size: medium;
    position: absolute;
    margin-top: 40px;
}

.mid-text {
    margin-top: 50px;
    text-align: center;
    line-height: 0.5;
    margin-left: auto;
    margin-right: auto;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
}

.recipe-div {

    width: 30%;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px grey;
}

.recipe-div img {
    width: 100%;

}

.showoff {
    width: 72%;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px grey;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    align-items: center;
}

.show1 {
    text-align: center;
    padding-left: 70px;
}

.show2 {
    text-align: center;
    padding-left: 230px;
}

.show3 {
    text-align: center;
    padding-left: 230px;
}