body {
    font-family: 'Montserrat', sans-serif;
}

section {
    display: flex;
}

.half-width img {
    width: 95%;
}

.half-width h1 {
    font-size: 50px;
    line-height: 0.5;
}

.half-width {
    width: 50%;
    margin-left: 5%;
    padding-left: 2%;
    font-weight: bold;
    font-size: 20px;
    color: #575757;
}

.first-texts {
    padding-top: 70px;
}


h1 span {
    color: orange;
}

.anchor-button {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 20px 35px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    font-size: medium;
}


.middle {
    width: 100%;
}


.middle-items {
    position: absolute;
    top: 800px;
    right: 120px;
    font-size: 20px;
}

.mid-h1 {
    font-size: 40px;
    color: #575757;
}

.button2 {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 20px 35px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    font-size: medium;
}